@media(min-width: 768px) {
  .container {
    width: 671px;
  }
  .heder{
    min-height: 700px;
  }
  .nav{
    flex-direction: row;
    justify-content: space-between
  }
  .site-logo{
    margin-top: 26px;
  } 
  .title-top {
    font-size: 52px;
    width: 510px;
    top: 27%;
  }
  .title-bottom{
    width: 493px;
    font-size: 24px;
    top:52%;
  }
  .find-partner{
    width: 226px;
    height: 40px;
    top:61%;
  }  
  .main{
    height: auto;
  }   
  .box-partners{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }
  .partner:nth-child(1) {
    order: 1;
  }
  .partner:nth-child(2) {
    order: 3;
  }
  .partner:nth-child(3) {
    order: 2;
  }
  .partner:nth-child(4) {
    order: 4;
  }
  .partner:nth-child(-n+2) {
    margin-right: 20px;
  }
  .partner{
    width: 238px;
    align-content: stretch;
    margin: 0;
  }
  .description{
    padding: 0;
  }
}

@media(min-width: 960px) {
  .container {
    width: 942px;}
    
  .box-partners{
    flex-wrap: nowrap;
    justify-content: space-between
  }

  .partner:not(:last-child){
    margin-right: 20px;
  }
}